//menu Ice Work css framework
body{position: relative; min-height: 100%}
nav{width: 100%; height: auto; font-size: 15px; font-family: Ubuntu; background-color: #37474f; color: white; display: flex; position: absolute; top: 0; right: 0; left: 0}
navel{width: auto; height: 100%; border-radius: 0px; padding-left: 1vw; padding-right: 1vw;}
navelfind{width: auto; height: 100%; padding-left: 1vw; padding-right: 1vw;}
navel:hover{
  background-color: #ef6c00;
}
nav{user-select: none}
